# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
db.sqlite3

# Django
staticfiles/
*.log
media/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Distribution
*.egg-info/
dist/
build/
